/build

.DS_Store

/.cache
/.clangd

/editor/zed-strawberry/grammars
/editor/zed-strawberry/extension.toml
/editor/zed-strawberry/target
/editor/zed-strawberry/extension.wasm
/editor/zed-strawberry/Cargo.lock
